gradient-color-outer = #050022
gradient-color-inner = #080035
vivid-yellow = #f4db09
vivid-cyan = #098ef4

html, body
  margin: 0
  padding: 0
  background-color: gradient-color-outer
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, gradient-color-outer),
    color-stop(0.5, gradient-color-inner),
    color-stop(1, gradient-color-outer)
  );
  background-image: -o-linear-gradient(right, gradient-color-outer 0%, gradient-color-inner 50%, gradient-color-outer 100%);
  background-image: -moz-linear-gradient(right, gradient-color-outer 0%, gradient-color-inner 50%, gradient-color-outer 100%);
  background-image: -webkit-linear-gradient(right, gradient-color-outer 0%, gradient-color-inner 50%, gradient-color-outer 100%);
  background-image: -ms-linear-gradient(right, gradient-color-outer 0%, gradient-color-inner 50%, gradient-color-outer 100%);
  background-image: linear-gradient(to right, gradient-color-outer 0%, gradient-color-inner 50%, gradient-color-outer 100%);
  font-size: 14px
  color: #2c2c2c
  overflow: hidden
  height: 100%

html, body, input
  font-family: 'Open Sans', sans-serif;

h1, h2
  margin: 0

h1
  font-size: 36px
  font-weight: 300
  color: #fff
  span
    color: vivid-yellow
  &#main-title
    position: fixed
    width: 100%
    display: block
    margin: 44px auto 0 auto
    text-align: center
    text-transform: uppercase

h2
  margin: 10px 0
  font-size: 18px
  font-weight: 300
  color: #000

canvas
  width: 100%
  height: 100%

#sidebar.ui
  width: 250px
  position: fixed
  top: 48px
  left: 0
  lightcolor = #fff
  nav
    width: 100%
    ul
      margin: 0
      padding: 0
      li
        listsize = 48px
        b = 2px
        width: listsize
        height: listsize
        margin: 0
        padding: 0
        color: lightcolor
        text-align: center
        line-height: listsize
        list-style: none
        cursor: pointer
        display: inline-block
        position: relative
        vertical-align: middle
        .icon
          circlesize = listsize * 0.666
          color: lightcolor
          display: inline-block
          border: b solid lightcolor
          border-radius: 50%
          width: circlesize
          height: circlesize
          position: absolute
          top: 50%
          left: 50%
          margin-left: -(@width / 2 + b)
          margin-top: -(@height / 2 + b)
          .fa
            vertical-align: top
            font-size: circlesize * 0.625
            line-height: circlesize
        &.active
          background: lightcolor
          cursor: default
          .icon
            color: darkcolor = #2c2c2c
            border: b solid darkcolor
  .content
    width: 100%
    height: 567px
    background: lightcolor
    .padded-content
      padding: 20px 27px
      word-break: break-all
      #calc
        width: 100%
        font-size: 18px
        font-weight: 300
        color: #2c2c2c
        position: relative
        &:after
          content: 'BTC'
#progressbar.ui
  pgbarwidth = 6px
  position: fixed
  top: 92px
  right: 56px
  height: 567px
  width: pgbarwidth
  .background
    height: 100%
    width: 100%
    background #fff
    opacity: 0.16
  .progress
    position: absolute
    bottom: 0
    right: 0
    height: 0
    width: 100%
    background: #fff
    .futureprogress
      background: vivid-cyan
      position: absolute
      top: 0
      right: 0
      height: 0
      width: 100%
    .textprogress
      position absolute
      right: pgbarwidth + 7px
      top: -3px
      color: #fff
      font-size: 12px
      font-weight: 600
      width: 40px
      text-align: right
label
  font-size: 12px
  font-weight: 600
  line-height: 2em

hr
  border: 1px solid #d7d7d7
  border-width: 0 0 1px 0
  margin: 0.9em 0

#rocket
  size = 128px
  width: size
  height: size
  background-image: url(rocket.png)
